<header>
    <div class="container">
        <div class="section1">
            <%= image_tag 'image.png' ,:class => "icon"%>
            <h1>Shuki Sugeno</h1>
        </div>
    </div>
</header>
<body>
    <div class="section2">
        <h3>画像をクリックしてみてね</h3>
        <img src="image3.jpeg">
    </div>
</body>