<header>
    <div class="container">
        <div class="section1">
            <%= image_tag 'image.png' ,:class => "icon"%>
            <h1>Shuki Sugeno</h1>
        </div>
    </div>
</header>
<body>
    <div class="section2">
        <h3>画像に触れてみてね</h3>
        <div class="image2">
            <%= image_tag 'image4.png',:class => "icon2" %>
        </div>
    </div>
</body>